.cards {
  margin-top: 3rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: 80%;
}

.coutry-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  margin-left: 2rem;
  width: 14rem;
}

.fas {
  margin-right: 4rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-radius: 0.4rem;
  width: 16rem;
  height: 9rem;
  background-color: rgba(129, 127, 127, 0.315);
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
}

.cards h3 {
  margin-left: 2rem;
}
strong {
  padding-bottom: 0.8rem;
  font-size: 1.3rem;
}

.blank-1,
.blank-2,
.blank-3 {
  width: 100%;
  height: 1.6vh;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}

.card-1 strong {
  color: orange;
}

.card-2 strong {
  color: greenyellow;
}

.card-3 strong {
  color: red;
}

.blank-1 {
  background-color: orange;
}

.blank-2 {
  background-color: #adff2f;
}

.blank-3 {
  background-color: red;
}

@media (max-width: 1100px) {
  .cards h3 {
    margin-left: 2rem;
  }

  .cards {
    width: 70%;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 12rem;
  }
}

@media (max-width: 900px) {
  .coutry-name {
    margin-top: 3rem;
    margin-bottom: -2rem;
  }

  .boxes h3 {
    margin-top: 3rem;
    margin-bottom: -2.1rem;
  }

  .fas {
    display: none;
  }

  .boxes {
    flex-direction: column;
  }

  .cards {
    width: 91%;
    margin-left: 2rem;
  }
}

@media (max-width: 650px) {
  .card-1,
  .card-2,
  .card-3 {
    width: 9rem;
    height: 6rem;
  }

  p {
    font-size: 0.8rem;
  }

  .cards strong {
    padding-bottom: 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .coutry-name {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .cards {
    flex-direction: column;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 16rem;
    height: 9rem;
  }

  p {
    font-size: 1.2rem;
  }

  .cards strong {
    padding-bottom: 0.8rem;
    font-size: 1.3rem;
  }

  .blank-1,
  .blank-2,
  .blank-3 {
    width: 100%;
    height: 1.1vh;
  }
}
