.data {
  margin-top: 3rem;
}
.table {
  margin-top: 0.7rem;
  overflow: scroll;
  color: #6a5d5d;
  margin-right: 2rem;
  margin-left: 2rem;
  background-color: rgb(185, 185, 185);
  height: 400px;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.country-name,
.case {
  width: 5rem;
}

.country-name {
  font-weight: 500;
  font-size: 1.1rem;
}

th {
  padding: 0.5rem;
  width: 5rem;
}

.table td img {
  display: flex;
  align-self: center;
  width: 2rem;
  height: 2rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

@media (max-width: 500px) {
  td strong {
    font-size: 1rem;
  }

  .country-name {
    font-size: 0.9rem;
  }
}
